<div class="navbar-wrapper">
  <div class="navbar-container">
    <a [routerLink]="'/principal'">
      <img src="/assets/img/logo.webp" alt="Logo">
    </a>
    
    <!-- Links Desktop -->
    <div class="links desktop-links" *ngIf="!isMobile">
      <ion-button routerLink="/personajes" class="link">
        <p>personajes</p>
      </ion-button>
      <ion-button routerLink="/locaciones" class="link">
        <p>locaciones</p>
      </ion-button>
      <ion-button routerLink="/episodios" class="link">
        <p>episodios</p>
      </ion-button>
    </div>
    
    <!-- Botón hamburguesa -->
    <button class="menu-toggle" *ngIf="isMobile" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
  
  <!-- Menú Mobile -->
  <div class="mobile-menu" *ngIf="isMobile && isMenuOpen">
    <div class="mobile-links">
      <ion-button class="link" routerLink="/personajes" (click)="closeMenu()">
          <p>Personajes</p>
      </ion-button>
      <ion-button class="link" routerLink="/locaciones" (click)="closeMenu()">
          <p>Locaciones</p>
      </ion-button>
      <ion-button class="link" routerLink="/episodios" (click)="closeMenu()">
          <p>Episodios</p>
      </ion-button>
    </div>
  </div>
  
  <div class="overlay" *ngIf="isMobile && isMenuOpen" (click)="closeMenu()"></div>
</div>