<ion-content [fullscreen]="true">
  <div class="hero">
    <app-navbar></app-navbar>
    <div class="presentation-container">
        <div class="presentation-card">
            <img src="/assets/img/television.webp" class="character-img" alt="{{episode?.name}}">
            <h2 class="character-name">{{episode?.name}}</h2>
            <p class="character-info">
                Episode: <br> {{episode?.episode}}
            </p>
            <p class="character-info">
                Air Date: <br> {{episode?.air_date}}
            </p>
            <ion-button (click)="regresar()" class="explore-btn" expand="true">
             Regresar
            </ion-button>
        </div>
    </div>
    <img src="/assets/img/img-footer.webp" alt=""/>
  </div>
</ion-content>
