.hero-principal{
  background-image: url('/assets/img/background-principal.webp') !important;
  height: 100%;
}

.card-container-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.presentation-card-principal{
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 0px 15px 0px #30B7BF;
  border-radius: 10px;
  overflow: hidden;
  border: 2px #397B96 solid !important;
  background-color: #01464C;
}

.card-title-principal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle-principal{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.card-content-principal{
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  font-family: "Playpen Sans", cursive;
}

.explore-btn {
  --background: #55EA12;
  --border-radius: 8px;
  --color: #000; // Color del texto (opcional)
  font-family: "Playpen Sans", cursive;
  font-weight: 500;
}