<ion-content [fullscreen]="true">
  <div class="hero-principal">
    <div class="card-container-principal">
      <ion-card class="presentation-card-principal">
        <ion-card-header class="card-tittle-principal">
          <ion-card-title class="tittle-principal">Proyecto de Tercer Parcial</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content-principal">
          <img src="/assets/img/Frame 27.png" class="img-presentation-principal" alt="Rick and Morty Logo">
          Elaborado por: <br>
          Iran Antonio Chalá González <br>
          Grupo: 1001 <br>
          Profesor: M. Arturo Alegria Palacios<br>
          Materia: Desarrollo Móvil Integral<br>
          Api: Rick and Morty<br>
          Interfaz a recrear: Rick and Morty App<br>
        </ion-card-content>
      </ion-card>
      <ion-button routerLink="/principal" class="explore-btn">
        Explorar
      </ion-button>
    </div>
  </div>
</ion-content>
